@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  font-size: 12px;

  --main: #2d2d2d;
  --white: #fff;
  --silver: #c0c0c0;
  --gold: #ffd700;
  --purple: #6a6cb7;
  --dark-purple: #494b7f;
  --green: #156526;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  background-image: url('/email-pattern.png');
}

button {
  font-family: 'Inter', sans-serif;
}

#__next {
  height: 100%;
  width: 100%;
}

@media (min-width: 900px) {
  :root {
    font-size: 16px;
  }
}
