.userCardGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-content: center;
  width: 100%;
  gap: 1px;
  margin-bottom: 2rem;
}

@media (min-width: 900px) {
  .userCardGrid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 2rem;
  }
}
